@charset "UTF-8";

html {
    margin: 0px;
    padding: 0px;
}

.container {
    min-height: 100vh;
    width: 100vw;
    position:fixed;
    left: 0;
    top: 0;
    background-color: #C5C5C5;
    margin: 0;
    padding: 0;
}

.page_header {
   background-color: #FFFFFF;  
   width: 100vw;
   height: 10vh;
   position: fixed;
   top: 0;
   left: 0;
   margin: 0px;
   padding: 0px;
   float: left;
   box-shadow: 1vh 1vh 1vh #888888;
   z-index: 2;
}

img {
    float: right;
    position:fixed;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: auto;
    float: left;
    height: 8vh;
    width: auto;
    
}

h1 {
    color:#FE1900;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vw;
}

h2 {
	margin-left: 5vw;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 2vw;
}

h3 {
	margin-left: 5vw;
	font-size: 1.5vw;
	color: #000000;
}

.page_body {
    margin-top: 11vh;
    margin-bottom: 11vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    color:#212121;
    font-family: Helvetica, sans-serif;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    height: 78vh;
    width: 100vw;
    overflow: auto;
    z-index: 1;
}

.page_body p {
	margin-left: 5vw;
}

table {
	margin-left: 5vw;
	margin-top: 0;
	padding-top: 0;
	background-color: #E2E1E2;
    border-radius: 6px;
    border: #000000 solid 1px; 
    box-shadow: 1vh 1vh 1vh #888888;
    font-size: 2vh;
}

th, td {
    border-bottom: 1px solid #767171;
    padding-left: 2vw;
    padding-right: 5vw;
    text-align: left;
}

.errors {
	font-weight: bold;
	font-size: 1vw;
	color: #FE1900;
	margin-top: 2vh;
	margin-botton: 0;
	padding-top: 0;
	padding-botton: 0;
}

form {
    margin: auto;
}

.product {
    background-color: #E2E1E2;
    border-radius: 6px;
    border: #000000 solid 1px; 
    box-shadow: 1vh 1vh 1vh #888888;
    font-size: 2.5vh;
    padding: 2vh;
    margin-left: 5vw;
    margin-right: 0;
    margin-top: 2vh;
    margin-bottom: 0;
    width: 25vw;
    min-width: 200px;
}

.product p {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

label {
   float: left;
   width: 10vw;
}

input {
    height: 2vh;
}

#buttom {
    color: #FFFFFF;
    background-color: #000000;
    height: auto;
    width: 10vw;
    border-radius: 6px;
    border: #000000 solid 1px; 
    box-shadow: 1vh 1vh 1vh #888888;
    font-size: 2.5vh;
    font-weight: bold;
    margin-top: 1vh;
    margin-left: 5vw;
}

.page_footer {
   text-align: center; 
   background-color: #FFFFFF;
   width: 100vw;
   height: 10vh;
   position: fixed;
   bottom: 0;
   left: 0;
   margin: 0;
   padding: 0;
   float: left;
   color:#000000;
   font-family: Helvetica, sans-serif;
   font-size: 2vh;
   text-align: center;
   box-shadow: 1vh 1vh 1vh 1vh #888888;
   z-index: 2;
}